<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1 class="text-center">Login</h1>
        <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value)">
          <!-- USERNAME -->
          <div class="row">
            <label class="label col-md-3 control-label">Username</label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                required="required"
                (input)="onUpdateUserName($event)"
                ngModel
                name="userName"
              />
            </div>
          </div>
          <!-- USERNAME -->

          <!-- PASSWORD -->
          <div class="row">
            <label class="label col-md-3 control-label">Password</label>
            <div class="col-md-9">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                required="required"
                (input)="onUpdatePassword($event)"
                ngModel
                name="password"
              />
              <small *ngIf="pass.length < 4; else tmamKda"
                >Password must be at least 4 characters</small
              >
              <ng-template #tmamKda>
                <small>Have a nice day!</small>
              </ng-template>
            </div>
          </div>
          <!-- PASSWORD -->
          <!-- BUTTON -->
          <div class="row">
            <div class="col-md-9">
              <button
                [disabled]="!allowSubmit"
                type="submit"
                class="btn btn-primary btn-block"
              >
                Log in
              </button>
            </div>
          </div>
          <!-- BUTTON -->
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</body>
