body {
    background-image: url('src/app/img.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 704px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 40px;
    color:rgb(0, 217, 255);
    margin-top: 20px;
    margin-bottom: 30px;
}

.label {
    font-size: 20px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.form-control {
    margin-top: 20px;
}

small {
    color: white;
}

.btn {
    margin-top: 30px;
    margin-left: 180px;
    margin-bottom: 30px;
    width: 180px;
    font-size: 19px;
    border-radius: 1000px;
}

.col-md-6 {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    box-shadow: -1px 1px 60px;
    margin: 170px auto;
}
