<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand greeting">Welcome Back</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <form (click)="toggleGet()">
        <button type="submit" class="btn btn-default serv">
          View All Users
        </button>
      </form>
      <form (click)="openAddForm()">
        <button type="submit" class="btn btn-default serv">
          Add New User
        </button>
      </form>
      <form (click)="openDeleteForm()">
        <button type="submit" class="btn btn-default serv">
          Delete User
        </button>
      </form>
      <form (click)="openEditForm()">
        <button type="submit" class="btn btn-default serv">
          Edit User
        </button>
      </form>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button (click)="permissionLogout()" class="btn btn-outline-success my-2 my-sm-0" type="button">
        Logout!
      </button>
    </form>
  </div>
</nav>

<body>
  <!-- Getting System Users -->
  <table *ngIf="display" class="table table-striped table-dark table-hover">
    <thead class="main">
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Role</th>
        <th>ID</th>
        <th>Deleted</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of emp">
        <td>{{ user.userName }}</td>
        <td>{{ user.familyName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.userRole }}</td>
        <td>{{ user.userId }}</td>
        <td>{{ user.userDeleted }}</td>
      </tr>
    </tbody>
  </table>
  <!-- Getting System Users -->

  <!-- Adding User -->
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 add">
        <form
          *ngIf="addForm"
          #postForm="ngForm"
          (ngSubmit)="add(postForm.value)"
        >
          <h2 class="text-center add-title">Add New User</h2>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              required="required"
              ngModel
              name="userName"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              required="required"
              ngModel
              name="familyName"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Email"
              required="required"
              ngModel
              name="email"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Address"
              required="required"
              ngModel
              name="address"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Phone"
              required="required"
              ngModel
              name="phoneNumber"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Role"
              required="required"
              ngModel
              name="userRole"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Password (At least 4 characters)"
              required="required"
              ngModel
              name="password"
            />
            <br />
          </div>
          <div class="form-group">
            <button type="submit" class="rnd btn btn-primary btn-block">
              Add
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <!-- Adding User -->
  <!-- CONFIRMATION MSG  -->
  <div *ngIf="confirmAdd" class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 confirm">
        <div class="row">
          <div class="col-md-9">
            <h2 class="msgg">
              User added succesfully
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="buttons">
              <div class="action_button">
                <button
                  (click)="closeConfirm()"
                  type="button"
                  class="rnd btn btn-outline-danger bx"
                >
                  Close
                </button>
                <button
                  (click)="toggleGet()"
                  type="button"
                  class="rnd btn btn-outline-success bx"
                >
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <!-- CONFIRMATION MSG  -->
</body>
