<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand greeting">Welcome Back</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="permissionLogout()">
          Logout!
        </button>
      </form>
      <form>
        <button
          (click)="backToAdmin()"
          type="button"
          class="btn btn-outline-danger serv"
          id="back"
        >
          Back
        </button>
      </form>
    </ul>
  </div>
</nav>

<body>
  <!-- Deleting User -->
  <body>
    <div *ngIf="!done" class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-center">Delete User</h1>
          <form>
            <!-- USERNAME -->
            <div class="row">
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ID Here"
                  required="required"
                  (input)="getUserId($event)"
                  ngModel
                  name="userId"
                />
              </div>
            </div>
            <!-- USERNAME -->

            <!-- BUTTON -->
            <div class="row">
              <div class="col-md-9">
                <button
                  (click)="passID()"
                  type="button"
                  class="rnd btn btn-outline-danger bx"
                >
                  Delete
                </button>
              </div>
            </div>
            <!-- BUTTON -->
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
  <!-- Deleting User -->
  <!-- CONFIRMATION MSG  -->
  <div *ngIf="confirmDelete" class="container" id="containerDelete">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 confirm">
        <div class="row">
          <div class="col-md-9">
            <h2 class="msggg">
              User Deleted succesfully
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="buttons">
              <div class="action_button">
                <button
                  (click)="backToAdmin()"
                  type="button"
                  class="rnd btn btn-outline-success bx"
                >
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <!-- CONFIRMATION MSG  -->
</body>
