<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand greeting">Welcome Back</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <button
        (click)="permissionLogout()"
        class="btn btn-outline-success my-2 my-sm-0"
        type="button"
      >
        Logout!
      </button>
    </form>
  </div>
</nav>
<body>
  <div class="container err">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 confirm">
        <div class="row">
          <div class="col-md-9">
            <h1 class="msgg">
              Thanks for visiting 
              <br> Website Under Maintenance
            </h1>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</body>
