.serv {
    margin-top: 3px;
    margin-left: 10px;
}
.greeting {
    font-weight: bold;
    font-size: 25px;
}
body {
    background-image: url('src/app/img.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 704px;
    font-family: 'Courier New', Courier, monospace;
}
.main {
    color:#8afff9;
    font-weight: bold;
    font-size: 20px;

}
.add {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    box-shadow: -1px 1px 60px;
    margin-top: 40px;
}
.add-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.confirm {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    box-shadow: -1px 1px 60px;
    margin: 170px auto;
    margin-top: 250px;
}
.msgg {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 130px;
}
.btn {
    margin-left: 950px;
}

